<div class="burger-menu js-burger-menu">
  <div class="header-burger">
    <a href="/" class="logo-link">
      <img src="/img/burger-logo.svg" alt="" class="logo-burger" />
    </a>
    <button class="btn-close-menu js-close-menu" type="button">
      <img class="close" src="/img/close.svg" alt="close burger menu" />
    </button>
  </div>

  <nav class="nav-burger">
    <a href="#" class="nav-link-burger">про проект</a>
    <a href="#" class="nav-link-burger">типи будинків</a>
    <a href="#" class="nav-link-burger">розташування</a>
  </nav>

  <a
    id="header-btn-bot"
    class="mobile-header-btn burger-btn"
    href="/"
    target="_blank"
    >Зв’язатись</a
  >

  <div class="menu-info-link">
    <a
      href="https://www.google.com/maps/place/SHELEST/@50.6652681,30.5217558,17z/data=!3m1!4b1!4m9!3m8!1s0x472b2bdf65c04d29:0xfc619ad8fc55e974!5m2!4m1!1i2!8m2!3d50.6652681!4d30.5243307!16s%2Fg%2F11fn1xl0dz?client=safari&amp;rls=en&amp;q=shelest&amp;oe=UTF-8&amp;um=1&amp;ie=UTF-8&amp;entry=tts"
      target="_blank"
      class="menu-link"
      >місцезнаходження</a
    >
    <a href="tel:+380733657780" class="menu-link">Sales: +380 73 365 7780</a>
    <a href="mailto:sales@shelest.ua" class="menu-link">sales@shelest.ua</a>
  </div>
</div>
