<section id="concept" class="concept">
  <div class="columns-concept">
    <div class="first-column">
      <p class="subtitle-text-concept">Концепція</p>
      <h2 class="title-concept">МИСТЕЦТВО SLOW LIVING</h2>
      <p class="text-margin-bottom">
        Сповільнитися, сконцентруватися на приємних речах, жити в моменті —
        сьогодення змушує нас шукати затишні місця, де почуваєшся в безпеці та
        можеш потурбуватися про себе та своє ментальне здоров’я.
      </p>
      <div class="concept-video mobile-video">
        <video
          autoplay
          muted
          loop
          playsinline
          poster="https://cdn.prod.website-files.com/65e998d5fec1d5f48326faeb/65ea138a4e916ec3650a37f8_Shelest home video-poster-00001.jpg"
        >
          <source
            src="https://cdn.prod.website-files.com/65f449e6536111c457ff9590/65f449e6536111c457ff95cc_Shelest%20home%20video-transcode.mp4"
            type="video/mp4"
          />
          <source
            src="https://cdn.prod.website-files.com/65f449e6536111c457ff9590/65f449e6536111c457ff95cc_Shelest%20home%20video-transcode.webm"
            type="video/webm"
          />
        </video>
      </div>
      <p>
        Концепція slow living стала філософією SHELEST Home. Це прості речі,
        важливі та потрібні кожному: повечеряти з родиною на свіжому повітрі;
        посидіти біля води, відключити сповіщення та прогулятися лісом,
        виспатись, забувши про тривогу або просто робити нічого.
      </p>
    </div>

    <div class="concept-video">
      <video
        autoplay
        muted
        loop
        playsinline
        poster="https://cdn.prod.website-files.com/65e998d5fec1d5f48326faeb/65ea138a4e916ec3650a37f8_Shelest home video-poster-00001.jpg"
      >
        <source
          src="https://cdn.prod.website-files.com/65f449e6536111c457ff9590/65f449e6536111c457ff95cc_Shelest%20home%20video-transcode.mp4"
          type="video/mp4"
        />
        <source
          src="https://cdn.prod.website-files.com/65f449e6536111c457ff9590/65f449e6536111c457ff95cc_Shelest%20home%20video-transcode.webm"
          type="video/webm"
        />
      </video>
    </div>
  </div>
</section>
