<header class="header">
  <div class="section-header">
    <div class="nav-desctop container">
      <div class="header-coloum">
        <div class="header-list">
          <a id="header-btn-bot" class="header-btn" href="/" target="_blank"
            >Зв’язатись</a
          >
          <nav class="header-nav">
            <a href="/">про проект</a>
            <a href="/">типи будинків</a>
            <a href="/">розташування</a>
          </nav>
        </div>
        <div class="coloum-logo">
          <img class="header-logo" src="/img/logo.svg" alt="" />
        </div>
      </div>
    </div>
    <div class="nav-mobile container">
      <a class="mobile-logo" href="/" target="_blank">
        <img class="img-mobile" src="/img/logo-mobile.svg" alt=""
      /></a>
      <div class="coloum-mobile">
        <a
          id="header-btn-bot"
          class="mobile-header-btn"
          href="/"
          target="_blank"
          >Зв’язатись</a
        >
        <button class="btn-burger-menu js-btn-burger-menu" type="button">
          <img class="burger" src="/img/burger.svg" alt="open burger menu" />
        </button>
      </div>
    </div>
  </div>
</header>
