<div class="modal" id="location-modal">
  <button class="modal-close" type="button">
    <img class="close" src="/img/close.svg" alt="close modal" />
  </button>
  <div class="modal-content">
    <div class="slider"></div>

    <div class="modal-description">
      <h2 class="modal-title"></h2>
      <div class="modal-info"></div>
      <div class="modal-capacity"></div>
      <p class="modal-text"></p>
      <a
        id="modal-btn-bot"
        class="header-btn"
        href="https://t.me/Event_Shelest_bot"
        target="_blank"
        >ДІЗНАТИСЯ БІЛЬШЕ</a
      >
    </div>

    <button class="prev">←</button>
    <button class="next">→</button>
  </div>
</div>
