<section id="projects" class="projects">
  <div class="projects-header">
    <p class="subtitle">Мінімалізм із найменшим втручанням у природу</p>
    <h2 class="title">
      Доповнюємо природний<br />
      ландшафт, а не руйнуємо його.
    </h2>
  </div>

  <div class="swiper preview-swiper">
    <div class="wrapper-button">
      <div class="projects-prev">
        <img src="img/button1.svg" width="18" height="16" />
      </div>
      <div class="projects-next">
        <img src="img/button2.svg" width="18" height="16" />
      </div>
    </div>
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="card">
          <a href="img/1.jpg" data-fancybox="projects"
            ><img src="img/1.jpg"
          /></a>

          <div class="label">
            <p><span class="white-label">1A </span>183.22 м²</p>
          </div>
        </div>
      </div>

      <div class="swiper-slide" data-index="1">
        <div class="card">
          <a href="img/2.jpg" data-fancybox="projects"
            ><img src="img/2.jpg"
          /></a>
          <div class="label">
            <p><span class="white-label">1B </span>184.36 м²</p>
          </div>
        </div>
      </div>

      <div class="swiper-slide" data-index="2">
        <div class="card">
          <a href="img/3.jpg" data-fancybox="projects"
            ><img src="img/3.jpg"
          /></a>
          <div class="label">
            <p><span class="white-label">2А </span>215.55 м²</p>
          </div>
        </div>
      </div>

      <div class="swiper-slide" data-index="3">
        <div class="card">
          <a href="img/4.jpg" data-fancybox="projects"
            ><img src="img/4.jpg"
          /></a>
          <div class="label">
            <p><span class="white-label">3А </span>243.84 м²</p>
          </div>
        </div>
      </div>

      <div class="swiper-slide" data-index="4">
        <div class="card">
          <a href="img/5.jpg" data-fancybox="projects"
            ><img src="img/5.jpg"
          /></a>
          <div class="label">
            <p><span class="white-label">4А </span>238.29 м²</p>
          </div>
        </div>
      </div>

      <div class="swiper-slide" data-index="5">
        <div class="card">
          <a href="img/6.jpg" data-fancybox="projects"
            ><img src="img/6.jpg"
          /></a>
          <div class="label">
            <p><span class="white-label">4В </span>276.8 м²</p>
          </div>
        </div>
      </div>

      <div class="swiper-slide" data-index="6">
        <div class="card">
          <a href="img/7.jpg" data-fancybox="projects"
            ><img src="img/7.jpg"
          /></a>
          <div class="label">
            <p><span class="white-label">5А </span>312.15 м²</p>
          </div>
        </div>
      </div>

      <div class="swiper-slide" data-index="7">
        <div class="card">
          <a href="img/8.jpg" data-fancybox="projects"
            ><img src="img/8.jpg"
          /></a>
          <div class="label">
            <p><span class="white-label">5В </span>365.14 м²</p>
          </div>
        </div>
      </div>

      <div class="swiper-slide" data-index="8">
        <div class="card">
          <a href="img/9.jpg" data-fancybox="projects"
            ><img src="img/9.jpg"
          /></a>
          <div class="label">
            <p><span class="white-label">5С </span>490.84 м²</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
