<section class="structure">
  <div class="wrapper-info-structure">
    <div class="main-info-str">
      <p>Ваш комфорт — наш пріоритет </p>
      <h2>СОНЯЧНА СТРУКТУРА КОМПЛЕКСУ</h2>
      <p>
        З висоти SHELEST Home нагадує 3 сонця. Таким чином автори проєкту
        забезпечили повну приватність території кожної сім’ї.
      </p>
    </div>
    <ul class="structure-list">
      <li>
        <div>
          <span class="comfort-value">4 </span>
          <span class="comfort-unit">га</span>
        </div>
        <p>територія</p>
      </li>
      <li>
        <span class="comfort-value">41</span>
        <p>котеджів</p>
      </li>
      <li>
        <div>
          <span class="comfort-value">2 </span>
          <span class="comfort-unit">га</span>
        </div>
        <p>прибережна зона</p>
      </li>
    </ul>
  </div>

  <div class="image-structure">
    <img src="/img/genplan1.jpg" class="img img-1" alt="genplan" />
    <img src="/img/genplan2.jpg" class="img img-2" alt="genplan" />
  </div>
</section>
