<section class="technology">
  <div class="wrapper-info-foto">
    <div class="wrapper-info-technology">
      <div class="main-info-technology">
        <p>Переваги</p>
        <h2>архітектурні технології</h2>
        <div class="text-wrapper">
          <p>
            У всіх будинках вентильований фасад і мембранний дах, а це означає,
            що сприятливий клімат всередині створюється автоматично.
          </p>
          <p>
            Вертикальний сад прямо біля будинку — ще одна важлива ідея творців
            проекту. Теплиці ізольовані від зовнішнього середовища і дуже прості
            у використанні.
          </p>
        </div>
      </div>

      <ul class="array-technology">
        <li>
          <h3>Фасад</h3>
          <p>вертикальний та мокрий</p>
        </li>

        <li>
          <h3>Вікна</h3>
          <p>алюмінієві та металопластикові</p>
        </li>

        <li>
          <h3>Стіни</h3>
          <p>цегляні</p>
        </li>
        <li>
          <h3>Дах</h3>
          <p>мембрана</p>
        </li>
        <li>
          <h3>Електроенергія</h3>
          <p>15 кВт</p>
        </li>
        <li>
          <h3>Каналізація</h3>
          <p>біосептик</p>
        </li>

        <li>
          <h3>Вода</h3>
          <p>свердловина</p>
        </li>

        <li class="is-tall">
          <h3>Тепло</h3>
          <p>
            тепловий насос, або<br />альтернативний варіант під<br />індівідуальний
            проєкт
          </p>
        </li>
      </ul>
    </div>
    <div class="img-bg"></div>
  </div>
</section>
