.main-form {
  padding: 3.75rem 3.75rem 6.25rem 3.75rem;
  background: #e4e4e4;
  color: #645b58;

  @media screen and (max-width: 1024px) {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-bottom: 3.75rem;
  }
}

.main-form p {
  letter-spacing: -0.05rem;
  max-width: 32.125rem;
  margin-bottom: 3.75rem;
  font-size: 1.5625rem;

  @media screen and (max-width: 1024px) {
    max-width: none;
  }
}

.contact-form {
  display: flex;
  grid-column-gap: 1.875rem;
  grid-row-gap: 1.875rem;
  justify-content: space-between;
  align-items: stretch;

  @media screen and (max-width: 1024px) {
    flex-flow: column;
  }
}

.wrapper-inputs {
  grid-column-gap: 1.25rem;
  grid-row-gap: 1.25rem;
  align-items: center;
  display: flex;

  @media screen and (max-width: 1024px) {
    flex-direction: column;
  }
}

.wrapper-inputs input {
  border-radius: 0;
  width: 20.3125rem;
  padding-left: 0.3125rem;
  flex: 1;
  background-color: #0000;
  border: 0.0625rem #000;
  border-bottom: 0.0625rem solid #645b58;
  margin-bottom: 0;
  height: 38px;
  color: inherit;
  padding: 8px 12px;
  text-decoration: inherit;
  font-size: inherit;
  line-height: 1.42857;
  vertical-align: middle;

  @media screen and (max-width: 1024px) {
    width: 100%;
  }
}

.contact-form button {
  color: #e4e4e4;
  text-transform: uppercase;
  background-color: #645b58;
  border: 0.0625rem solid #645b58;
  border-radius: 0.1875rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
  cursor: pointer;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.1;
  height: 44.9219px;
}
