.section-header {
  z-index: 90;
  padding: 2rem 3.75rem;
  position: absolute;
  inset: 0 0% auto;
  overflow: visible;
  backdrop-filter: blur(2rem);
  background-color: #645b5803;
  height: 230px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  align-items: center;

  @media screen and (max-width: 1024px) {
    background-color: #d4d9e1;
    padding: 0.625rem 1.25rem;
    height: auto;
    width: 100%;
    position: fixed;
  }
}

.nav-mobile {
  justify-content: space-between;
  align-items: center;
  display: flex;

  @media screen and (min-width: 1024px) {
    display: none;
  }
}

.mobile-logo .img-mobile {
  width: 6.5rem;
  height: 43.57px;
}

.coloum-mobile {
  grid-column-gap: 0.875rem;
  grid-row-gap: 0.875rem;
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.mobile-header-btn {
  color: #d4d9e1;
  background-color: #645b58;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  font-size: 0.8125rem;
  border-radius: 0.125rem;
  padding: 0.3125rem 1.875rem;
  text-transform: uppercase;
  line-height: 1.1;
}

.btn-burger-menu {
  width: 1.5rem;
  height: 1.5rem;
}

.nav-desctop {
  @media screen and (max-width: 1024px) {
    display: none;
  }
}

.header-list {
  display: flex;
  align-items: center;
  grid-column-gap: 5.625rem;
  grid-row-gap: 5.625rem;
  position: absolute;
  top: 30px;
  left: 52.5px;
  flex: 0 auto;
  min-width: 7rem;

  @media screen and (min-width: 768px) and (max-width: 1280px) {
    grid-column-gap: 2.625rem;
    grid-row-gap: 2.625rem;
  }
}

.header-nav {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  flex: 0 auto;
  min-width: 7rem;
  opacity: 0.9;
  letter-spacing: -0.33px;
  line-height: 16.5px;
  text-decoration: underline;
  white-space: nowrap;
  text-transform: uppercase;
}

.header-nav:hover,
.header-nav:focus,
.header-nav:active {
  color: #645b58;
}

.header-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 5px 30px;
  background-color: #dcd0b9;
  border-radius: 2px;
  width: fit-content;
  font-weight: 400;
  color: #645b58;
  font-size: 0.9375rem;
  letter-spacing: -0.33px;
  line-height: 16.5px;
  white-space: nowrap;
  text-transform: uppercase;
}

.header-btn:hover,
.header-btn:focus,
.header-btn:active {
  background-color: #645b58;
  color: #dcd0b9;
}
.coloum-logo {
  flex: 0 auto;
  min-width: 7rem;
  position: absolute;
  top: 28px;
  width: 30%;
  right: 52.5px;
}

.header-logo {
  width: 100%;
  max-width: 540px;
  height: auto;
}

.btn-burger-menu {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
}
